<div class="recent-bookmark rounded-2 bg-gradient-1 flex flex-col justify-between h-full relative">
    <div class="flex-between-center mb-[12px] relative h-[24px]">
        <div class="category text-label-md-bold color-primary-850-80">{{recentBookmark.category}}</div>
        <figure class="absolute right-0 top-0 more-btn w-[32px] p-[4px] cursor-pointer rounded-full" (click)="toggleDropdown($event)">
            <img src='assets/icon/more.svg' alt="more-btn">
        </figure>

        <div #recentBookmarkMenu [hidden]="!dropDownService.isOpen(uniqueString)" class="more-btn-dropdown rounded-1 absolute right-[8px] top-[18px] pt-[8px] p-[4px] text-label-md-regular">
            <div class="rounded-1" (click)="deleteRecentBookmark(recentBookmark.id)">Delete</div>
            <div class="rounded-1">Change Image</div>
        </div>
    </div>

    <div class="flex justify-start items-start gap-[8px]">
        <figure class="image w-[60px] h-[60px] rounded-2">
            <img class="rounded-2 object-cover object-left rounded-2"
                src="https://www.google.com/s2/favicons?domain={{getHostnameFromUrl(recentBookmark.link)}}&sz=256" alt="bookmark-img">

        </figure>
        <div class="category-title grow-0 max-h-[60px]">
            <a href={{recentBookmark.link}} target="_blank"
                class="title line-clamp-3 flex-1 mt-[4px] text-body-md-medium color-primary-1000 ">{{recentBookmark.title}}</a>
        </div>
    </div>
    <div class="ml-auto bottom-[8px] right-[8px] color-primary-850 text-label-md-regular">{{recentBookmark.date}}
    </div>
</div> 

<!-- <div class="recent-bookmark rounded-2 bg-gradient-1 flex flex-col justify-between h-full relative">
    <div class="flex-between-center mb-[8px]">
        <div class="category text-label-md-bold color-primary-850-80">{{recentBookmark.category}}</div>
        <figure class="w-[18px] cursor-pointer"> <img src='assets/icon/more.svg' alt="more-btn"> </figure>
    </div>
    <div class="flex justify-between items-start gap-[8px]">
        <figure class="image w-[60px] h-[60px] rounded-2"> <img class="cover rounded-2" src={{recentBookmark.img}}
                alt="recent-thumbnail"> </figure>
        <div class="category-title grow-0"> <a href={{recentBookmark.link}} target="_blank"
                class="title text-body-md-medium color-primary-1000">{{recentBookmark.title}}</a> </div>
        <div class="absolute bottom-[8px] right-[8px] color-primary-850 text-label-md-regular">{{recentBookmark.date}}
        </div>
    </div>
</div> -->