<div class="recent-bookmark rounded-2 bg-gradient-1 flex flex-col justify-between h-full relative">
    <div class="flex-between-center mb-[12px] relative h-[24px]">
        <div class="category text-label-md-bold color-primary-850-80">{{recentBookmark.category}}</div>
        <figure class="absolute right-0 top-0 more-btn w-[32px] p-[4px] cursor-pointer rounded-full"
            (click)="toggleDropdown($event)">
            <img src='assets/icon/more.svg' alt="more-btn">
        </figure>

        <div #recentBookmarkMenu [hidden]="!dropDownService.isOpen(uniqueString)"
            class="more-btn-dropdown rounded-1 absolute right-[8px] top-[18px] pt-[8px] p-[4px] text-label-md-regular">
            <div class="rounded-1" (click)="deleteRecentBookmark(recentBookmark.id)">Delete</div>
        </div>
    </div>

    <div class="flex justify-start items-start gap-[8px]">
        <figure class="recent-bookmark-image w-[60px] h-[60px] rounded-2">
            <img class="rounded-2 object-cover object-left rounded-2" src={{recentBookmark.img_url}} alt="bookmark-img">
        </figure>
        <div class="category-title grow-0 max-h-[60px]">
            <a href={{recentBookmark.url}} target="_blank" (click)="handleLinkClick($event)"
                class="title line-clamp-3 flex-1 mt-[4px] text-body-md-medium color-primary-1000 ">{{recentBookmark.title}}</a>
        </div>
    </div>
    <div class="ml-auto bottom-[8px] right-[8px] color-primary-850 text-label-md-regular">{{recentBookmark.date}}
    </div>
</div>