@import "../../colors";

.search-filter-wrapper {
    border: 1px solid $primary-200;
    padding: 8px;

    @media screen and (min-width: 768px) {
        padding: 16px;
    }

    .search-box {
        max-width: 300px;
        width: 100%;
    }

    .sortDropdown {
        min-width: 120px;
        // width: 100%;
        border: 1px solid $primary-400;
        // position: relative;
        padding: 10px;
        height: 40px;
        z-index: 10;
        
        .down-arrow {
            transition: 0.4s;
            &.active{
                transform: rotate(180deg);
            }
        }
    }
    .sort-option {
        border: 1px solid $primary-400;
        background-color: $neutral-0;
        min-width: 120px;
        animation: top_down .4s;
        box-shadow: 0 10px 10px -8px #1d1c4026;

        div {
            border-radius: 4px;
            padding: 6px 15px;
            border-bottom: 2px solid $primary-100;
            transition: 0.4s;

            &:hover {
                background-color: $primary-300;
                color: $primary-1000;
                cursor: pointer;
            }

            &:last-of-type {
                border: none;
            }
        }
    }
}
