<article class="search-filter-wrapper flex-between-center bg-primary-100 rounded-2">
    <div class="search-box">
        <app-input-box></app-input-box>
    </div>

    <div
        class="sortDropdown flex p-[4px_10px] rounded-1 justify-between items-center bg-primary-20 text-primary-900 text-label-md-regular">
        <button class="more-btn-dropdown-btn">{{filter}}</button>

        <figure class="down-arrow w-[12px] h-[12px] flex-center">
            <img src="assets/icon/arrow-down.svg" alt="sort">
        </figure>

        <div class="sort-option p-[4px] rounded-1 text-label-md-regular spacing-y-[4px] z-50">
            <div (click)="filterRecentBookmarkBy('Date')">Date</div>
            <div (click)="filterRecentBookmarkBy('A-Z')">A-Z</div>
            <div (click)="filterRecentBookmarkBy('Z-A')">Z-A</div>
        </div>
    </div>
</article>