@import '../../colors';

.input-box {
    input {
        border: 1px solid $primary-400;
        transition: .4s;
        outline: none;
        padding: 8px 12px;

        &:focus {
            border: 1px solid $primary-800;
        }

        &::placeholder {
            color: $primary-500;
        }
    }

    button {
        transition: .4s;

        &:hover {
            background-color: $primary-150;
        }
    }
}