.loading {
    animation: leftToRight 1.5s infinite;
}

@keyframes leftToRight {
    0% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(200%);
    }

    100% {
        transform: translateX(-100%);
    }
}