    <div class="fixed top-0 left-0 right-0 bottom-0 flex bg-neutral-0 z-40">
        <div class="wrapper max-w-[300px] m-auto">
            <figure class="mb-3">
                <img src="assets/image/logo.svg" alt="">
            </figure>

            <div
                class="inline-block items-center p-[2px] bg-primary-150 rounded-full w-[100%] overflow-hidden animate-leftToRight">
                <div class="loading bg-primary-810 h-[4px] rounded-full w-[50%] translate-x-[-100%]"></div>
            </div>
        </div>
    </div>