<nav class="absolute left-0 right-0 top-0">
    <div class="main-container navbar">
        <div class="flex justify-between items-center">
            <figure class="max-w-[140px] h-[28px] w-full aspect-[5.18]">
                <img alt="logo" class="contain aspect-[5.18]" width="140" height="28" src="assets/image/logo-140.svg"
                    class="logo-small">
            </figure>

            <a href="/login"
                class="inline-flex justify-between items-center bg-primary-1000 text-white font-bold text-[16px] rounded-[12px] p-[12px_20px]">
                sign up
            </a>
        </div>
    </div>
</nav>

<main class="pt-[100px] max-md:pt-[160px]">
    <div class="main-container main flex justify-between items-center max-md:pb-0">

        <div class="left-block max-w-[550px]">
            <h1
                class="text-[48px] font-bold font-sora color-primary-900 leading-[120%] mb-[8px] max-lg:text-[44px] max-md:text-[40px]">
                Organize Your
                <span class="yellow-line inline-block font-sora color-primary-800 ">Bookmarks</span> with <span
                    class="yellow-line line-2 inline-block font-sora color-primary-800">Ease</span>
            </h1>

            <h2 class="text-[20px] leading-[120%] color-primary-850 mb-[24px] max-lg:text-[18px]">
                Save time, reduce clutter, and access your bookmarks anywhere 
            </h2>

            <figure
                class="image-wrapper max-w-[310px] w-full mb-[48px] aspect-[6.45] max-md:max-w-[260px] max-md:mb-[20px]">
                <img decoding="async" width="310" height="48" class="contain" src="assets/image/customer-love.png"
                    alt="customer-love">
            </figure>

            <a href="/login" class="btn-primary">Get started for free</a>
        </div>

        <div class="flex-1 hidden lg:block">
            <!-- <picture decoding="async"
                class="image-wrapper max-w-[450px] h-[290px] w-full m-auto overflow-hidden -mb-[20px] -mr-[20px] aspect-[1.5]">

                <source decoding="async" width="450" height="290" media="(min-width:1024px)"
                    srcset="assets/image/bookmark-main.webp" alt="bookmark-main">
                <img decoding="async" class="contain" src="assets/image/line2.svg" alt="line">
            </picture> -->

            <figure
                class="image-wrapper max-w-[450px] h-[290px] w-full m-auto overflow-hidden -mb-[20px] -mr-[20px] aspect-[1.5]">
                <svg width="459" height="291" viewBox="0 0 459 291" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_d_1426_85)">
                        <g filter="url(#filter1_di_1426_85)">
                            <path
                                d="M173.484 74.5824L263.012 141.728C280.472 154.823 289.202 161.37 297.362 160.336C305.522 159.302 306.393 151.537 308.135 136.008L309.697 122.09C310.506 114.877 310.911 111.271 314.991 109.485C319.072 107.699 325.208 108.443 337.481 109.93L358.562 112.486C385.414 115.741 398.84 117.368 402.737 113.067C406.635 108.765 397.763 102.111 380.019 88.8034L291.263 22.2364C283.257 16.2324 279.255 13.2304 273.927 12.6277C268.599 12.025 264.027 14.0571 254.883 18.1212L175.9 53.2245C166.756 57.2886 162.184 59.3207 161.83 62.4485C161.476 65.5763 165.479 68.5783 173.484 74.5824Z"
                                fill="#9F9EE7" />
                            <path
                                d="M173.484 74.5824L263.012 141.728C280.472 154.823 289.202 161.37 297.362 160.336C305.522 159.302 306.393 151.537 308.135 136.008L309.697 122.09C310.506 114.877 310.911 111.271 314.991 109.485C319.072 107.699 325.208 108.443 337.481 109.93L358.562 112.486C385.414 115.741 398.84 117.368 402.737 113.067C406.635 108.765 397.763 102.111 380.019 88.8034L291.263 22.2364C283.257 16.2324 279.255 13.2304 273.927 12.6277C268.599 12.025 264.027 14.0571 254.883 18.1212L175.9 53.2245C166.756 57.2886 162.184 59.3207 161.83 62.4485C161.476 65.5763 165.479 68.5783 173.484 74.5824Z"
                                fill="url(#paint0_linear_1426_85)" />
                            <path
                                d="M173.484 74.5824L263.012 141.728C280.472 154.823 289.202 161.37 297.362 160.336C305.522 159.302 306.393 151.537 308.135 136.008L309.697 122.09C310.506 114.877 310.911 111.271 314.991 109.485C319.072 107.699 325.208 108.443 337.481 109.93L358.562 112.486C385.414 115.741 398.84 117.368 402.737 113.067C406.635 108.765 397.763 102.111 380.019 88.8034L291.263 22.2364C283.257 16.2324 279.255 13.2304 273.927 12.6277C268.599 12.025 264.027 14.0571 254.883 18.1212L175.9 53.2245C166.756 57.2886 162.184 59.3207 161.83 62.4485C161.476 65.5763 165.479 68.5783 173.484 74.5824Z"
                                fill="black" fill-opacity="0.2" />
                        </g>
                        <g filter="url(#filter2_di_1426_85)">
                            <path
                                d="M152.29 32.9742L81.8016 81.8951C64.2563 94.0719 55.4836 100.16 55.8973 104.51C56.1742 107.422 58.6598 109.963 62.7771 111.544C68.9273 113.905 82.3564 112.346 109.215 109.227C120.936 107.866 126.797 107.185 131.307 107.916C135.032 108.519 138.149 109.769 140.234 111.497C142.759 113.589 143.039 116.691 143.598 122.893C144.812 136.366 145.419 143.103 150.74 145.591C155.065 147.614 161.187 148.271 167.316 147.37C174.854 146.263 183.18 140.484 199.831 128.928L270.71 79.7364C283.143 71.1074 289.36 66.7928 288.85 62.3852C288.339 57.9777 281.301 55.1983 267.224 49.6397L208.527 26.4608C194.45 20.9022 187.412 18.1228 179.176 19.0767C170.94 20.0306 164.724 24.3451 152.29 32.9742Z"
                                fill="#9F9DF0" />
                            <path
                                d="M152.29 32.9742L81.8016 81.8951C64.2563 94.0719 55.4836 100.16 55.8973 104.51C56.1742 107.422 58.6598 109.963 62.7771 111.544C68.9273 113.905 82.3564 112.346 109.215 109.227C120.936 107.866 126.797 107.185 131.307 107.916C135.032 108.519 138.149 109.769 140.234 111.497C142.759 113.589 143.039 116.691 143.598 122.893C144.812 136.366 145.419 143.103 150.74 145.591C155.065 147.614 161.187 148.271 167.316 147.37C174.854 146.263 183.18 140.484 199.831 128.928L270.71 79.7364C283.143 71.1074 289.36 66.7928 288.85 62.3852C288.339 57.9777 281.301 55.1983 267.224 49.6397L208.527 26.4608C194.45 20.9022 187.412 18.1228 179.176 19.0767C170.94 20.0306 164.724 24.3451 152.29 32.9742Z"
                                fill="url(#paint1_linear_1426_85)" />
                        </g>
                    </g>
                    <defs>
                        <filter id="filter0_d_1426_85" x="0.978039" y="12.5234" width="457.571" height="278.319"
                            filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                            <feColorMatrix in="SourceAlpha" type="matrix"
                                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                            <feOffset dy="75.4947" />
                            <feGaussianBlur stdDeviation="27.4526" />
                            <feComposite in2="hardAlpha" operator="out" />
                            <feColorMatrix type="matrix"
                                values="0 0 0 0 0.494118 0 0 0 0 0.486275 0 0 0 0 0.886275 0 0 0 0.25 0" />
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1426_85" />
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1426_85" result="shape" />
                        </filter>
                        <filter id="filter1_di_1426_85" x="128.198" y="0.140652" width="309.055" height="215.139"
                            filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                            <feColorMatrix in="SourceAlpha" type="matrix"
                                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                            <feOffset dy="21.2275" />
                            <feGaussianBlur stdDeviation="16.8051" />
                            <feComposite in2="hardAlpha" operator="out" />
                            <feColorMatrix type="matrix"
                                values="0 0 0 0 0.111667 0 0 0 0 0.111667 0 0 0 0 0.446667 0 0 0 0.25 0" />
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1426_85" />
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1426_85" result="shape" />
                            <feColorMatrix in="SourceAlpha" type="matrix"
                                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                            <feOffset dx="3.53792" dy="-10.6138" />
                            <feGaussianBlur stdDeviation="3.53792" />
                            <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.14 0" />
                            <feBlend mode="normal" in2="shape" result="effect2_innerShadow_1426_85" />
                        </filter>
                        <filter id="filter2_di_1426_85" x="32.6186" y="0.163933" width="334.661" height="230.54"
                            filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                            <feColorMatrix in="SourceAlpha" type="matrix"
                                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                            <feOffset dx="27.5681" dy="32.105" />
                            <feGaussianBlur stdDeviation="25.4164" />
                            <feComposite in2="hardAlpha" operator="out" />
                            <feColorMatrix type="matrix"
                                values="0 0 0 0 0.111667 0 0 0 0 0.111667 0 0 0 0 0.446667 0 0 0 0.25 0" />
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1426_85" />
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1426_85" result="shape" />
                            <feColorMatrix in="SourceAlpha" type="matrix"
                                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                            <feOffset dx="5.35083" dy="-16.0525" />
                            <feGaussianBlur stdDeviation="5.35083" />
                            <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.14 0" />
                            <feBlend mode="normal" in2="shape" result="effect2_innerShadow_1426_85" />
                        </filter>
                        <linearGradient id="paint0_linear_1426_85" x1="285.343" y1="120.733" x2="289.436" y2="25.8295"
                            gradientUnits="userSpaceOnUse">
                            <stop stop-color="#7170DE" />
                            <stop offset="1" stop-color="#706FDA" stop-opacity="0.24" />
                        </linearGradient>
                        <linearGradient id="paint1_linear_1426_85" x1="111.793" y1="95.676" x2="262.91" y2="43.3286"
                            gradientUnits="userSpaceOnUse">
                            <stop stop-color="#7170DE" />
                            <stop offset="1" stop-color="#706FDA" stop-opacity="0.24" />
                        </linearGradient>
                    </defs>
                </svg>
            </figure>

        </div>
    </div>
</main>

<section class="sc-video">
    <div class="main-container relative">
        <video #videoPlayer preload="auto"
            class="image-wrapper rounded-[4px] border-primary-250 m-auto max-w-[900px] max-h-[646px]" width="800"
            height="240">
            <source src="https://res.cloudinary.com/dxsqdqnoe/video/upload/v1737524578/Litmark-18_tgg3ih.mp4"
                type="video/mp4">
            <track kind="captions" srclang="en" label="english_captions">
        </video>
        <button (click)="togglePlay(videoPlayer)" [attr.aria-label]="isPlaying ? 'Pause video' : 'Play video'"
            class="{{isPlaying? 'opacity-0':'opacity-100'}} absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 block max-w-[68px] rounded-full bg-primary-250 overflow-hidden w-full h-[68px]">
            <figure class="img-wrapper m-auto max-w-[22px] w-full h-[24px]">
                <img loading="lazy" decoding="async" width="22" height="24"
                    src="assets/icon/{{isPlaying? 'icon-pause.svg': 'icon-play.svg'}}" alt="play-pause">
            </figure>
        </button>
    </div>
</section>

<section class="sc-pain-point">
    <div class="main-container">
        <div class="flex justify-between align-items-center max-lg:flex-col-reverse">
            <div class="left-block max-w-[500px] w-full">
                <h3
                    class="font-sora color-primary-900 text-[32px] font-bold leading-[120%] mb-[12px] max-lg:text-[28px]">
                    Struggling to
                    <span class="font-sora color-primary-800">find</span> the links you
                    <span class="font-sora color-primary-800">need</span> when you need them?
                </h3>
                <div class="description color-primary-850 text-[20px]">
                    <span class="color-primary-800 font-bold">We feel you.</span> Traditional bookmarking methods can be
                    a real pain.
                </div>
            </div>

            <div class="right-block max-lg:m-auto max-lg:mb-[48px]">
                <div class="header m-auto text-[18px] w-max font-bold color-primary-800 mb-[8px]">Introducing</div>
                <figure
                    class="image-wrapper visible max-w-[250px] max-h-[50px] max-lg:max-w-[300px] max-lg:max-h-[80px]">
                    <img loading="lazy" decoding="async" alt="logo" width="250" height="50" src="assets/image/logo.svg"
                        class="contain">
                </figure>
            </div>
        </div>
    </div>
</section>

<section class="sc-why">
    <div class="main-container">
        <div class="flex justify-between max-lg:flex-col">
            <div class="left-block">
                <div
                    class="image-wrapper visible max-w-[450px] max-h-[335px] max-lg:max-w-none max-lg:max-h-none max-md:mb-[56px]">
                    <img loading="lazy" decoding="async" class="contain relative z-10" src="/assets/image/sc-why.webp"
                        alt="sc-why">
                </div>
            </div>

            <div class="right-block max-w-[592px] w-full">
                <h3
                    class="font-bold font-sora leading-[120%] text-[32px] color-primary-900 mb-[20px] max-lg:text-[28px]">
                    Designed to help you take
                    <span class="font-sora color-primary-800">Control</span> of your
                    <span class="font-sora color-primary-800">Bookmarks</span>
                </h3>

                <div class="list-wrapper space-y-[20px]">
                    <div class="list flex gap-[12px]">
                        <div
                            class="number rounded-full size-[30px] bg-primary-200 border-primary-200 color-primary-800 grid place-items-center">
                            1
                        </div>

                        <div class="description color-primary-870 text-[20px] max-lg:text-[18px]">
                            Organize your bookmarks with ease using folders.
                        </div>
                    </div>

                    <div class="list flex gap-[12px]">
                        <div
                            class="number rounded-full size-[30px] bg-primary-200 border-primary-200 color-primary-800 grid place-items-center">
                            2
                        </div>

                        <div class="description color-primary-870 text-[20px]">
                            Find what you need in seconds with our lightning-fast search.
                        </div>
                    </div>

                    <div class="list flex gap-[12px]">
                        <div
                            class="number rounded-full size-[30px] bg-primary-200 border-primary-200 color-primary-800 grid place-items-center">
                            3
                        </div>

                        <div class="description color-primary-870 text-[20px]">
                            Access your bookmarks from anywhere, on any device.
                        </div>
                    </div>

                    <div class="list flex gap-[12px]">
                        <div
                            class="number rounded-full size-[30px] bg-primary-200 border-primary-200 color-primary-800 grid place-items-center">
                            4
                        </div>

                        <div class="description color-primary-870 text-[20px]">
                            Manage your valuable bookmarks with nested folder.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sc-feature">
    <div class="main-container">
        <div class="header-wrapper mb-[32px]">
            <div class="label">Feature</div>
            <div class="sc-title font-sora">Full with functionality</div>
        </div>

        <div class="feature-list">
            <div class="grid grid-cols-3 gap-[40px] max-lg:grid-cols-2 max-md:gap-y-[48px] max-lg:gap-[10px]">
                <div class="feature p-[36px] max-md:p-[12px]">
                    <div class="heading color-primary-850 text-[20px] font-bold mb-[12px]">Folder based</div>

                    <div class="description color-primary-870 leading-[150%]">Organize with related bookmarks in
                        folders.</div>
                </div>

                <div class="feature p-[36px] max-md:p-[12px]">
                    <div class="heading color-primary-850 text-[20px] font-bold mb-[12px]">Nested Folder</div>

                    <div class="description color-primary-870 leading-[150%]">Further categorize your bookmark inside a
                        folder</div>
                </div>

                <div class="feature p-[36px] max-md:p-[12px]">
                    <div class="heading color-primary-850 text-[20px] font-bold mb-[12px]">Recent bookmark</div>

                    <div class="description color-primary-870 leading-[150%]">See your recently opened bookmark for
                        quick access.</div>
                </div>

                <div class="feature p-[36px] max-md:p-[12px]">
                    <div class="heading color-primary-850 text-[20px] font-bold mb-[12px]">Search Functionality</div>

                    <div class="description color-primary-870 leading-[150%]">Find what you need in seconds.</div>
                </div>

                <div class="feature p-[36px] max-md:p-[12px]">
                    <div class="heading color-primary-850 text-[20px] font-bold mb-[12px]">Easy Navigation</div>

                    <div class="description color-primary-870 leading-[150%]">Effortlessly navigate using with its
                        asthetic design.</div>
                </div>

                <div class="feature p-[36px] max-md:p-[12px]">
                    <div class="heading color-primary-850 text-[20px] font-bold mb-[12px]">Drag to move</div>

                    <div class="description color-primary-870 leading-[150%]">Move your bookmarks to nested folder with
                        ease.</div>
                </div>

                <div class="feature p-[36px] max-md:p-[12px]">
                    <div class="heading color-primary-850 text-[20px] font-bold mb-[12px]">Automatic Thumbnail</div>

                    <div class="description color-primary-870 leading-[150%]">Automatic image from url to make your
                        bookmark remembered easily.</div>
                </div>

                <div class="feature p-[36px] max-md:p-[12px]">
                    <div class="heading color-primary-850 text-[20px] font-bold mb-[12px]">Easy Sort</div>

                    <div class="description color-primary-870 leading-[150%]">Easily find your bookmark with our sort
                        functionality.</div>
                </div>

                <div class="feature p-[36px] max-md:p-[12px]">
                    <div class="heading color-primary-850 text-[20px] font-bold mb-[12px]">Clean UI</div>

                    <div class="description color-primary-870 leading-[150%]">No more messy UI with small hard to look
                        text.</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sc-cta bg-primary-700 relative">
    <div class="main-container">
        <div class="left-block text-white max-w-[500px] w-full">
            <h4 class="leading-[100%] font-bold text-[45px] font-sora mb-[12px] max-md:text-[40px]">Ready to take
                control of your
                bookmarks? </h4>
            <div class="description text-[24px] text-white font-bold leading-[150%] mb-[32px] max-md:text-[20px]">
                Get Started today and discover a
                better way to organize your online life.</div>

            <a href="/login" class="btn-primary">Get started for free</a>
        </div>

        <picture
            class="image-wrapper absolute bottom-0 right-0 max-w-[700px] max-h-[320px] aspect-[2.08] max-sm:aspect-[1.55]">

            <source decoding="async" loading="lazy" width="400" height="288" media="(min-width:650px)"
                srcset="assets/image/mac-mockup.webp">
            <img loading="lazy" decoding="async" width="700" height="320" alt="mac-mockup-mobile"
                src="assets/image/mac-mockup-mobile.webp" class="mac-mockup aspect-[2.08] object-left-top">
        </picture>
    </div>
</section>

<section class="sc-faq pb-[60px]">
    <div class="main-container">
        <div class="header-wrapper mb-[32px]">
            <div class="label">FAQ</div>
            <div class="sc-title font-sora">Frequently Asked Question</div>
        </div>

        <app-accordion></app-accordion>
    </div>
</section>

<footer>
    <div class="main-container footer px-[8px]">
        <div class="flex items-center gap-[8px]">

            <figure class="image-wrapper max-w-[60px]">
                <img loading="lazy" decoding="async" alt="logo" width="60" height="12" src="assets/image/logo-60.svg"
                    class="contain">
            </figure>

            <span class="border border-gray-100 border-l-gray-200 pl-[8px] color-primary-800 text-[14px]">build by
                abhishek98s</span>
        </div>
    </div>
</footer>