<nav class="absolute left-0 right-0 top-0">
    <div class="main-container navbar">
        <div class="flex justify-between items-center">
            <figure class="max-w-[140px] w-full">
                <img src="assets/image/logo.svg" alt="logo">
            </figure>

            <a href="/login"
                class="inline-flex justify-between items-center bg-primary-1000 text-white font-bold text-[16px] rounded-[12px] p-[12px_20px]">
                sign up
            </a>
        </div>
    </div>
</nav>

<main class="pt-[100px]">
    <div class="main-container main">

        <div class="flex justify-between items-center ">
            <div class="left-block max-w-[550px]">
                <h1 class="text-[48px] font-bold font-sora color-primary-900 leading-[120%] mb-[8px]">
                    Organize Your
                    <span class="yellow-line inline-block font-sora color-primary-800 ">Bookmarks</span> with <span
                        class="yellow-line line-2 inline-block font-sora color-primary-800">Ease</span>
                </h1>

                <h2 class="text-[20px] leading-[120%] color-primary-850 mb-[24px]">
                    Save time, reduce clutter, and access your bookmarks anywhere 
                </h2>

                <figure class="max-w-[310px] w-full mb-[48px]">
                    <img src="assets/image/customer-love.png" alt="customer-love">
                </figure>

                <div class="relative w-max">
                    <a href="/login" class="btn-primary">Get started for free</a>

                    <div class="absolute top-full mt-[8px] right-[-50px]">
                        <figure class="max-w-[158px] w-full">
                            <img src="assets/image/trigger-click.png" alt="customer-love">
                        </figure>
                    </div>
                </div>
            </div>

            <div class="flex-1 hidden lg:block">
                <div class="max-w-[450px] h-[290px] w-full m-auto overflow-hidden -mb-[20px] -mr-[20px]">
                    <img src="assets/image/bookmark-main.png" class="" alt="bookmark-overlap.png">
                </div>
            </div>
        </div>
    </div>
</main>

<section class="sc-video">
    <div class="main-container">
        <figure class="image-wrapper m-auto max-w-[900px] max-h-[646px]">
            <img src="assets/image/video.png" alt="product-demo">
        </figure>
    </div>
</section>

<section class="sc-pain-point">
    <div class="main-container">
        <div class="flex justify-between align-items-center">
            <div class="left-block max-w-[500px] w-full">
                <h3 class="font-sora color-primary-870 text-[32px] font-bold leading-[120%] mb-[12px]">
                    Struggling to
                    <span class="font-sora color-primary-800">find</span> the links you
                    <span class="font-sora color-primary-800">need</span> when you need them?
                </h3>
                <div class="description color-primary-850 text-[20px]">
                    <span class="color-primary-800 font-bold">We feel you.</span> Traditional bookmarking methods can be
                    a real pain.
                </div>
            </div>

            <div class="right-block">
                <div class="header m-auto text-[18px] w-max font-bold color-primary-700 mb-[8px]">Introducing</div>
                <div class="image-wrapper visible max-w-[250px] max-h-[50px]">
                    <img class="contain" src="/assets/image/logo.svg" alt="logo.svg">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sc-why">
    <div class="main-container">
        <div class="flex justify-between">
            <div class="left-block">
                <div class="image-wrapper visible max-w-[450px] max-h-[335px]">
                    <img class="contain relative z-10" src="/assets/image/sc-why.png" alt="sc-why.png">
                </div>
            </div>

            <div class="right-block max-w-[592px] w-full">
                <h3 class="font-bold font-sora leading-[120%] text-[32px] color-primary-900 mb-[20px]">
                    Designed to help you take
                    <span class="font-sora color-primary-800">Control</span> of your
                    <span class="font-sora color-primary-800">Bookmarks</span>
                </h3>

                <div class="list-wrapper space-y-[20px]">
                    <div class="list">
                        <div class="flex gap-[12px]">
                            <div
                                class="number rounded-full size-[30px] bg-primary-200 border-primary-200 color-primary-800 grid place-items-center">
                                1
                            </div>

                            <div class="description color-primary-870 text-[20px]">
                                Organize your bookmarks with ease using folders.
                            </div>
                        </div>
                    </div>

                    <div class="list">
                        <div class="flex gap-[12px]">
                            <div
                                class="number rounded-full size-[30px] bg-primary-200 border-primary-200 color-primary-800 grid place-items-center">
                                2
                            </div>

                            <div class="description color-primary-870 text-[20px]">
                                Find what you need in seconds with our lightning-fast search.
                            </div>
                        </div>
                    </div>

                    <div class="list">
                        <div class="flex gap-[12px]">
                            <div
                                class="number rounded-full size-[30px] bg-primary-200 border-primary-200 color-primary-800 grid place-items-center">
                                3
                            </div>

                            <div class="description color-primary-870 text-[20px]">
                                Access your bookmarks from anywhere, on any device.
                            </div>
                        </div>
                    </div>

                    <div class="list">
                        <div class="flex gap-[12px]">
                            <div
                                class="number rounded-full size-[30px] bg-primary-200 border-primary-200 color-primary-800 grid place-items-center">
                                4
                            </div>

                            <div class="description color-primary-870 text-[20px]">
                                Manage your valuable bookmarks with nested folder.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sc-feature">
    <div class="main-container">
        <div class="header-wrapper mb-[32px]">
            <div class="label">Feature</div>
            <div class="sc-title font-sora">Full with functionality</div>
        </div>

        <div class="feature-list">
            <div class="grid grid-cols-3 gap-[40px]">
                <div class="feature p-[36px]">
                    <div class="heading color-primary-850 text-[20px] font-bold mb-[12px]">Folder based</div>

                    <div class="description color-primary-870 leading-[150%]">Organize with related bookmarks in
                        folders.</div>
                </div>

                <div class="feature p-[36px]">
                    <div class="heading color-primary-850 text-[20px] font-bold mb-[12px]">Nested Folder</div>

                    <div class="description color-primary-870 leading-[150%]">Further categorize your bookmark inside a
                        folder</div>
                </div>

                <div class="feature p-[36px]">
                    <div class="heading color-primary-850 text-[20px] font-bold mb-[12px]">Recent bookmark</div>

                    <div class="description color-primary-870 leading-[150%]">See your recently opened bookmark for
                        quick access.</div>
                </div>

                <div class="feature p-[36px]">
                    <div class="heading color-primary-850 text-[20px] font-bold mb-[12px]">Search Functionality</div>

                    <div class="description color-primary-870 leading-[150%]">Find what you need in seconds.</div>
                </div>

                <div class="feature p-[36px]">
                    <div class="heading color-primary-850 text-[20px] font-bold mb-[12px]">Easy Navigation</div>

                    <div class="description color-primary-870 leading-[150%]">Effortlessly navigate using with its
                        asthetic design.</div>
                </div>

                <div class="feature p-[36px]">
                    <div class="heading color-primary-850 text-[20px] font-bold mb-[12px]">Drag to move</div>

                    <div class="description color-primary-870 leading-[150%]">Move your bookmarks to nested folder with
                        ease.</div>
                </div>

                <div class="feature p-[36px]">
                    <div class="heading color-primary-850 text-[20px] font-bold mb-[12px]">Automatic Thumbnail</div>

                    <div class="description color-primary-870 leading-[150%]">Automatic image from url to make your
                        bookmark remembered easily.</div>
                </div>

                <div class="feature p-[36px]">
                    <div class="heading color-primary-850 text-[20px] font-bold mb-[12px]">Easy Sort</div>

                    <div class="description color-primary-870 leading-[150%]">Easily find your bookmark with our sort
                        functionality.</div>
                </div>

                <div class="feature p-[36px]">
                    <div class="heading color-primary-850 text-[20px] font-bold mb-[12px]">Clean UI</div>

                    <div class="description color-primary-870 leading-[150%]">No more messy UI with small hard to look
                        text.</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sc-cta bg-primary-700 relative">
    <div class="main-container">
        <div class="left-block text-white max-w-[500px] w-full">
            <h4 class="leading-[100%] font-bold text-[45px] font-sora mb-[12px]">Ready to take control of your
                bookmarks? </h4>
            <div class="description text-[24px] font-medium leading-[150%] mb-[32px]">Get Started today and discover a
                better way to organize your online life.</div>

            <a href="/login" class="btn-primary">Get started for free</a>
        </div>

        <div class="image-wrapper absolute bottom-0 right-0 max-w-[700px] w-[48%] max-h-[320px]">
            <img class="object-left-top" src="assets/image/mac-mockup.png" alt="mac-mockup">
        </div>
    </div>
</section>

<section class="sc-faq pb-[60px]">
    <div class="main-container">
        <div class="header-wrapper mb-[32px]">
            <div class="label">FAQ</div>
            <div class="sc-title font-sora">Frequently Asked Question</div>
        </div>

        <app-accordion></app-accordion>
    </div>
</section>

<footer>
    <div class="main-container footer px-[8px]">
        <div class="flex items-center gap-[8px]">

            <figure class="image-wrapper max-w-[60px]">
                <img src="/assets/image/logo.svg" alt="logo">
            </figure>

            <span class="border border-gray-100 border-l-gray-200 pl-[8px] color-primary-550 text-[14px]">build by abhishek98s</span>
        </div>
    </div>
</footer>