@import "../../colors";

.search-filter-wrapper {
    border: 1px solid $primary-200;
    padding: 8px;

    @media screen and (min-width: 768px) {
        padding: 16px;
    }

    .search-box {
        max-width: 300px;
        width: 100%;
    }
}
