@import "../../../colors";

.inside-bookmark-box {
    .inside-folder {
        row-gap: 16px;
        margin-bottom: 8px;

        @media screen and (min-width: 768px) {
            margin-bottom: 0;
            row-gap: 32px;
        }
    }
}
