<app-search-filter-box [searchType]="searchType"></app-search-filter-box>

<section class="inside-bookmark-box">
    <header class="flex flex-between-center mt-[48px] mb-[30px]">
        <h2 class="text-title-md-bold">Design</h2>

        <div class="gap-[16px] flex">
            <app-add-folder [value]="'Add Folder'" [icon]="'add-folder'" (click)="toggleFolderInputBox($event)"></app-add-folder>
            <app-add-folder [value]="'Add Bookmark'" [icon]="'add-bookmark'" (click)="toggleBookmarkInputBox($event)"></app-add-folder>
        </div>
    </header>

    <section class="inside-folder grid 2xl:grid-cols-4 xl:grid-cols-3 md:grid-cols-2 gap-[8px] md:gap-[4%]">
        <div #folderInputBox [hidden]="!dropDownService.isOpen(folderUniqueString)" (click)="stopPropagation($event)">
            <form class="folder h-[90px] rounded-2 flex-between-center gap-3 bg-primary-200"
                 (ngSubmit)="submitFolderForm()">
                <div class="flex w-full gap-2 items-center"> 
                    <figure class="max-w-[50px] w-full">
                        <img src="assets/icon/sub-folder.svg" alt="folder">
                    </figure>

                    <input #folderInputElement class="h-[34px] w-full rounded-1 p-[4px_8px]" placeholder="New Folder"
                        [(ngModel)]="fodlerName" name="Folder Name">
                </div>
                <div class="flex-between-center max-w-[40px] gap-[4px]">
                    <button class="w-[24px]" type="submit" (ngSubmit)="submitFolderForm()">
                        <img src="assets/icon/save.svg" alt="save">
                    </button>

                    <button class="w-[24px]" (click)="toggleFolderInputBox($event)">
                        <img src="assets/icon/cancel.svg" alt="close">
                    </button>
                </div>
            </form>
        </div>

        <div *ngFor="let data of folderService.getNestedFolder()">
            <nested-folder [nestedFolder]="data"></nested-folder>
        </div>

        <div #folderInputBox [hidden]="!dropDownService.isOpen(bookmarkUniqueString)" (click)="stopPropagation($event)">
            <form class="bookmarkInputBox flex gap-[8px] rounded-2 " (ngSubmit)="submitBookmarkForm()">
                <figure class="max-w-[60px] w-full h-[60px] rounded-1">
                    <img src="assets/image/add-bookmark.png">
                </figure>
                <div class="w-full">
                    <input #bookmarkInputElement class="h-[34px] w-full rounded-1 p-[4px_8px] mb-[8px]" placeholder="Bookmark link"
                        [(ngModel)]="bookmarkName" name="Bookmark Name">

                    <div class="flex-between-center ml-auto max-w-[40px] gap-[4px]">
                        <button class="w-[24px]" type="submit" (ngSubmit)="submitBookmarkForm()">
                            <img src="assets/icon/save.svg" alt="save">
                        </button>

                        <button class="w-[24px]" (click)="toggleBookmarkInputBox($event)">
                            <img src="assets/icon/cancel.svg" alt="close">
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div *ngFor="let bookmark of bookmarkService.getBookmark()">
            <app-bookmark [bookmark]="bookmark"></app-bookmark>
        </div>
    </section>
</section>
