@import "../../colors";

.folder {
    padding: 10px 12px;
    padding-right: 0;
    margin-bottom: 16px;
    width: 100%;
    transition: 0.4s;
    cursor: pointer;

    &:hover {
        background-color: $primary-200;
    }

    .more-btn {
        transition: 0.2s;
        &:hover {
            background-color: $primary-100;
        }
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 8px;
    }
}
