@import "../../colors";

.folder {
    padding: 10px 12px;
    padding-right: 0;
    // max-width: 274px;
    width: 100%;
    transition: 0.4s;
    cursor: pointer;

    &:hover {
        background-color: $primary-200;
    }
}
