@import '../../colors';

.search-item {
    border-bottom: 1px solid $primary-400-35;
    transition: .4s;

    &:hover {
        background-color: $primary-200;

        span {
            text-decoration: underline;
        }
    }
}