@import "../../../colors";

.nav {
    border-bottom: 1px solid $primary-200;
    height: 60px;
    padding-right: 4%;
    z-index: 1000;

    .profile-menu {
        border: 0.5px solid $primary-200;

        .icon-arrow {
            transition: .2s;

            &.active {
                transform: rotate(180deg);
            }
        }
    }

    .menu-wrapper {
        border: 1px solid $primary-300;
        z-index: 20;
        box-shadow: 0 10px 10px -8px rgba(29, 28, 64, 0.15);
        animation: top_down 0.2s ease-out;
        
        .item {
            transition: .2s;

            &:hover {
                background-color: $primary-150;

                span, .sign-out {
                    text-decoration: underline;
                }
            }
        }

        hr {
            background-color: $primary-200;
            height: 0.5px;
        }
    }
}
