@import "../../../colors";

.login-wrapper {
  background: $primary-950;

  .left-block {
    background-size: cover;
    background: linear-gradient(181.25deg, #FFFFFF -0.28%, rgba(255, 255, 255, 0) 98.93%), url('../../../../assets/image/login-bg.png');
    background-position: center;
  }

  .right-block {
    box-shadow: -24px 0px 112px -24px rgba(12, 12, 90, 0.1);

    .form-box {
      // border: 1px solid $primary-300;
      // box-shadow: 0px 64px 64px -48px #0000594a;

      .form-wrapper {
        input {
          background: $neutral-0;

          &::placeholder {
            color: $primary-560;
          }
        }
      }

      input[type="checkbox"] {
        accent-color: $primary-900;
      }

      .buttons .register-btn {
        border: 1px solid $primary-800;
        transition: 0.4s;

        &:hover {
          background-color: $primary-100;
        }
      }
    }
  }
}