<section class="login-wrapper w-[100vw] h-[100vh]">
    <div class="flex max-md:flex-col max-md:justify-end h-[100vh]">
        <div
            class="left-block max-w-[50%] w-full h-[100vh] pl-[4%] pt-[22vh] max-md:h-full  max-md:max-w-none max-md:pt-[10vh] max-md:px-[16px]">
            <div class="max-w-[500px] w-full">
                <div class="font-bold font-sora text-[45px] leading-[1.2] max-md:text-[36px]">
                    Organize Your
                    <span class="color-primary-700 font-sora">Bookmarks</span> with <span
                        class="color-primary-700 font-sora">Ease</span>
                </div>

                <div class="description leading-[1.2] color-primary-850 text-[20px] mt-[8px] max-md:text-[18px]">Save
                    time, reduce clutter,
                    and access your bookmarks
                    anywhere 
                </div>

                <figure class="max-w-[306px] w-full mt-[24px] max-md:hidden">
                    <img src="/assets/image/customer-love.png" alt="customer-love">
                </figure>

                <div
                    class="cta mt-[48px] rounded-[12px] text-[20px] max-w-[230px] w-full text-white font-bold p-[20px_28px] bg-primary-1000 max-md:hidden">
                    Get started for free
                </div>
            </div>
        </div>
        <div class="right-block flex-1 h-[100vh] grid place-items-center bg-white max-md:h-auto max-md:flex-none">
            <div
                class="form-box max-w-[400px] w-full mx-auto mt-auto rounded-2 px-[16px] pt-[52px] pb-[16px] bg-neutral-0 md:m-auto md:p-[48px_24px] md:pb-[24px] max-md:max-w-none max-md:pb-[72px]">

                <header class="mb-[32px] color-primary-900">
                    <h1 class="mb-[8px] text-title-md-bold color-primary-800">Login</h1>
                    <div class="text-body-md-regular color-primary-850">Enter your email and password to login</div>
                </header>

                <form class="form-wrapper" [formGroup]="loginForm" (ngSubmit)="submitForm()">
                    <div class="flex flex-col mb-[20px]">
                        <label class="text-body-md-regular color-primary-850 mb-[8px]">Email</label>
                        <input type="email" class="p-[20px] rounded-2 h-[56px] text-body-md-regular" placeholder="example@gmail.com"
                            formControlName="email">
                    </div>
                    <div class="flex flex-col mb-[20px]">
                        <label class="text-body-md-regular color-primary-850 mb-[8px]">Password</label>
                        <div class="relative">
                            <input class="p-[20px] rounded-2 h-[56px] text-body-md-regular w-full pr-[10px]"
                                [type]="showPassword? 'text':'password'" formControlName="password">
                            <div class="absolute top-[50%] right-0 translate-y-[-50%] p-[10px] cursor-pointer"
                                (click)="this.togglePassword()">

                                <figure class="w-[24px] h-[24px] bg-neutral-0 cursor-pointer">
                                    <img [src]="showPassword ? 'assets/icon/eye.svg': 'assets/icon/eye-close.svg'" alt="password">
                                </figure>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="flex justify-between mb-[20px]">
                    <div class="flex gap-[8px] items-center">
                        <input type="checkbox" class="w-[16px] h-[16px] rounded-1">
                        <span class="text-body-md-regular color-primary-900">Remember me</span>
                    </div>

                    <a class="color-primary-900 text-body-md-regular hover:underline underline-offset-1 cursor-pointer">Forgot
                        password?</a>
                </div> -->

                    <div class="buttons flex gap-[24px]">
                        <button type="submit"
                            class="bg-primary-800 color-neutral-0 rounded-2 w-full p-[12px] text-body-md-bold text-center cursor-pointer">Login</button>
                        <button routerLink="/register" type="button"
                            class="register-btn color-primary-800 rounded-2 w-full p-[12px] text-body-md-bold text-center">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>