@import "../../colors";

.folder {
  padding: 8px;
  padding-right: 4px;
  margin-bottom: 16px;
  width: 100%;
  transition: 0.4s;
  cursor: pointer;

  &:hover {
    background-color: $primary-220;

    .more-btn {
      display: block;
    }
  }

  .more-btn {
    transition: 0.2s;
    display: block;

    &:hover {
      background-color: $primary-100;
    }

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}