<div class="sub-folder h-[90px] flex gap-[16px] items-center bg-primary-200 rounded-2" *ngIf="data.folder">
    <figure class="w-[50px]">
        <img src="assets/icon/sub-folder.svg">
    </figure>

    <span class="text-body-md-medium text-primary-900">{{data.title}}</span>
</div>

<div class="bookmark rounded-2 flex gap-[8px]" *ngIf="!data.folder">
    <figure class="thumbnail max-w-[60px] max-h-[60px] rounded-2">
        <img class="rounded-2" src={{data.img}}>
    </figure>

    <article class="flex flex-col w-[100%] justify-between">
        <a class="title text-primary-900 text-body-md-medium hover:underline" target="_blank"
            href={{data.link}}>{{data.title}}</a>
        <div class="text-primary-850-80 text-label-md-medium flex-between-center mt-[8px]">
            <span>{{data.date}}</span>
            <figure class="w-[20px]">
                <img src="assets/icon/trash.svg">
            </figure>
        </div>
    </article>
</div>