<section class="inside-bookmark-box">
    <header class="flex flex-between-center mt-[40px] mb-[20px]">
        <h2 class="text-title-md-bold">Design</h2>

        <div class="hidden gap-[16px] md:flex">
            <app-add-folder [value]="'Add Folder'"></app-add-folder>
            <app-add-folder [value]="'Add File'"></app-add-folder>
        </div>
    </header>

    <section class="inside-folder grid 2xl:grid-cols-4 xl:grid-cols-3 md:grid-cols-2 gap-[4%]">
        <div *ngFor="let data of dataService.getFolderData()">
            <app-folder-data [data]="data"></app-folder-data>
        </div>
    </section>

</section>