<section class="register-wrapper grid place-items-center w-[100vw] h-[100vh]">
    <div
        class="form-box max-w-[400px] w-full mx-auto mt-auto rounded-2 px-[16px] pt-[52px] pb-[16px] bg-neutral-0 md:m-auto md:p-[48px_24px] md:pb-[24px]">
        <figure class="w-[164px] mb-[56px]">
            <img src="assets/image/logo.svg">
        </figure>

        <header class="mb-[32px] color-primary-900">
            <h1 class="mb-[8px] text-title-md-bold">Register</h1>
            <div class="text-body-md-regular">Register for free and start exploring today.</div>
        </header>

        <form class="form-wrapper" [formGroup]="registerForm" (ngSubmit)="submitForm()">
            <div class="flex flex-col mb-[20px]">
                <label  class="text-body-md-bold color-primary-900 mb-[8px]">Username</label>
                <input  class="p-[20px] rounded-2 h-[56px] text-body-md-regular" placeholder="John Weasly" formControlName="username">
            </div>
            <div class="flex flex-col mb-[20px]">
                <label  class="text-body-md-bold color-primary-900 mb-[8px]">Email</label>
                <input  class="p-[20px] rounded-2 h-[56px] text-body-md-regular" placeholder="example@gmail.com" formControlName="email">
            </div>
            <div class="flex flex-col mb-[20px]">
                <label  class="text-body-md-bold color-primary-900 mb-[8px]">Password</label>
                <div class="relative">
                    <input  class="p-[20px] rounded-2 h-[56px] text-body-md-regular w-full pr-[10px]" type="password" formControlName="password">
                    <div class="absolute top-[50%] right-0 translate-y-[-50%] p-[10px] cursor-pointer">
                        <figure class="w-[24px] h-[24px] bg-neutral-0 cursor-pointer">
                            <img src="assets/icon/eye.svg">
                        </figure>
                    </div>
                </div>
            </div>

            <div class="buttons flex gap-[24px]">
                <button type="button" routerLink="/login"
                    class="secondary-btn color-primary-800 rounded-2 w-full p-[12px] text-body-md-bold text-center">Login</button>
                <button type="submit"
                    class="bg-primary-800 color-neutral-0 rounded-2 w-full p-[12px] text-body-md-bold text-center cursor-pointer" >Register</button>
            </div>
        </form>
    </div>
</section>


<!-- <div>
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password">
    <div *ngIf="myForm.get('password').invalid && myForm.get('password').touched">
        <div *ngIf="myForm.get('password').hasError('minlength')">
            Password must be at least 6 characters long.
        </div>
        <div *ngIf="myForm.get('password').hasError('passwordPattern')">
            Password must contain at least one uppercase letter, one lowercase letter, one special symbol, and one
            number.
        </div>
    </div>
</div> -->