@import "../../colors";

.register-wrapper {
  background: $primary-950;
  .form-box {
    border: 1px solid $primary-300;
    box-shadow: 0px 64px 64px -48px #0000594a;

    .form-wrapper {
      input {
        background: $neutral-0;
        &::placeholder {
          color: $primary-560;
        }
      }
    }
    input[type="checkbox"] {
      accent-color: $primary-900;
    }

    .buttons .secondary-btn {
      border: 1px solid $primary-800;
      transition: 0.4s;
      &:hover {
        background-color: $primary-100;
      }
    }
  }
}
