<section class="register-wrapper grid place-items-center w-[100vw] h-[100vh]">
    <div
        class="form-box max-w-[450px] w-full mx-auto mt-auto rounded-2 px-[16px] pt-[52px] pb-[16px] bg-neutral-0 md:m-auto md:p-[48px_24px] md:pb-[24px]">
        <figure class="w-[164px] mb-[56px]">
            <img src="assets/image/logo.svg">
        </figure>

        <header class="mb-[32px] color-primary-900">
            <h1 class="mb-[8px] text-title-md-bold">Register</h1>
            <div class="text-body-md-regular">Register for free and start exploring today.</div>
        </header>

        <form class="form-wrapper">
            <div class="flex flex-col mb-[20px]">
                <label class="text-body-md-bold color-primary-900 mb-[8px]">Full Name</label>
                <input class="p-[20px] rounded-2 h-[56px] text-body-md-regular" placeholder="John Weasly">
            </div>
            <div class="flex flex-col mb-[20px]">
                <label class="text-body-md-bold color-primary-900 mb-[8px]">Email</label>
                <input class="p-[20px] rounded-2 h-[56px] text-body-md-regular" placeholder="example@gmail.com">
            </div>
            <div class="flex flex-col mb-[20px]">
                <label class="text-body-md-bold color-primary-900 mb-[8px]">Password</label>
                <div class="relative">
                    <input class="p-[20px] rounded-2 h-[56px] text-body-md-regular w-full pr-[10px]" type="password">
                    <div class="absolute top-[50%] right-0 translate-y-[-50%] p-[10px] cursor-pointer">
                        <figure class="w-[24px] h-[24px] bg-neutral-0 cursor-pointer">
                            <img src="assets/icon/eye.svg">
                        </figure>
                    </div>
                </div>
            </div>

            <div class="flex justify-between mb-[20px]">
                <div class="flex gap-[8px] items-center">
                    <input type="checkbox" class="w-[16px] h-[16px] rounded-1">
                    <span class="text-body-md-regular color-primary-900">Remember me</span>
                </div>

                <a class="color-primary-900 text-body-md-regular hover:underline underline-offset-1 cursor-pointer">Forgot
                    password?</a>
            </div>

            <div class="buttons flex gap-[24px]">
                <a routerLink="/login"
                    class="secondary-btn color-primary-800 rounded-2 w-full p-[12px] text-body-md-bold text-center">login</a>
                <a type="submit"
                    class="bg-primary-800 color-neutral-0 rounded-2 w-full p-[12px] text-body-md-bold text-center cursor-pointer">Register</a>
            </div>
        </form>
    </div>
</section>