@import "../../colors";

.chip {
    border: 1px solid $primary-400;
    border-radius: 20px;
    padding: 8px 12px;
    transition: 0.4s;
    
    &:hover {
        background-color: $primary-200;
    }

    &.active {
        background-color: $primary-800;
        color: $primary-100;
        border: 1px solid $primary-800;
    }
}
