<div class="sub-folder relative min-h-[90px] h-full flex justify-between items-center bg-primary-200 rounded-2">
    <div class="flex items-center gap-[16px]">
        <figure class="w-[50px]">
            <img src="assets/icon/sub-folder.svg" alt="sub-folder">
        </figure>

        <span class="text-body-md-medium color-primary-900">{{nestedFolder.name}}</span>
    </div>

    <figure class="w-[24px] rounded-full more-btn cursor-pointer" (click)="toggleMenu($event)">
        <img src="assets/icon/more.svg" alt="more button">
    </figure>

    <div #nestedFolderDropdown class="more-btn-dropdown rounded-1 absolute right-[12px] top-[60%] min-w-[100px] pt-[8px] p-[4px] text-label-md-regular"
        [hidden]="!dropDownService.isOpen(uniqueString)">
        <div class="rounded-1" (click)="deleteNestedFolder(nestedFolder.id)">Delete</div>
        <div class="rounded-1">Rename</div>
    </div>
</div>