@import "../../../colors";

.bookmark {
    &:hover{
        .more-btn{
            display: block;
        }
    }
    .more-btn {
        transition: 0.4s;
        &:hover {
            background-color: $primary-100;
        }

        @media screen and (min-width: 768px) {
            display: none;
        }
    }
    .website-icon{
        border: 1px solid $primary-300;
    }
}
