@import "../../colors";

.login-wrapper {
  background: linear-gradient(116deg, #5754c9 5.51%, #9783d8 93.98%), #fff;
  .form-box {
    border: 1px solid $primary-300;
    box-shadow: 0px 64px 64px -48px #0000594a;

    .form-wrapper {
      input {
        background: $neutral-0;
        &::placeholder {
          color: $primary-560;
        }
      }
    }
    input[type="checkbox"] {
      accent-color: $primary-900;
    }

    .buttons .register-btn {
      border: 1px solid $primary-800;
      transition: 0.4s;
      &:hover {
        background-color: $primary-100;
      }
    }
  }
}
