<section class="main-wrapper grid grid-cols-2 ">
    <div class="md:block hidden"><app-sidebar></app-sidebar></div>
    <div class="md:hidden block mobile-sidebar fixed left-0 right-0 z-30" [class.active]="dropDownService.isOpen(uniqueString)"
        [class.inactive]="!dropDownService.isOpen(uniqueString)"><app-sidebar></app-sidebar></div>

    <section>
        <app-navbar></app-navbar>

        <section class="main">


            <router-outlet></router-outlet>

            <div (click)="toggleSidebar()"
                class="fixed bottom-[24px] right-[24px] cursor-pointer p-[12px] rounded-full w-[62px] h-[62px] shadow-1 bg-primary-800 justify-center items-center flex md:hidden">
                <img src="assets/icon/search-folder.svg" alt="serch-folder">
            </div>
        </section>
    </section>
</section>