.recent-bookmark-wrapper {
    margin-top: 32px;

    @media screen and (min-width: 768px) {
        margin-top: 48px;
    }

    .chips-list {
        margin-top: 12px;
    }

    .recent-bookmark-list {
        margin-top: 32px;
        row-gap: 24px;
        transition: overflow-y 0.3s;
        overflow-y: hidden;
    }
}
