.main-wrapper {
    grid-template-columns: 100%;
    @media screen and (min-width: 768px) {
        grid-template-columns: 300px calc(100vw - 308px);
    }

    .active {
        animation: topToDown 0.5s ease-in-out;
        top: 0;
        z-index: 55;

        @keyframes topToDown {
            from {
                top: -100%;
            }

            to {
                top: 0;
            }
        }
    }

    .inactive {
        animation: downToTop 0.5s;
        top: -100%;

        @keyframes downToTop {
            from {
                top: 0;
            }

            to {
                top: -100%;
            }
        }
    }

    .main {
        max-width: calc(100% - 8%);
        margin: 36px 4% 0;
    }

    .recent-bookmark-wrapper {
        margin-top: 32px;

        @media screen and (min-width: 768px) {
            margin-top: 48px;
        }

        .chips-list {
            margin-top: 12px;
        }

        .recent-bookmark-list {
            margin-top: 40px;
            row-gap: 24px;
            transition: overflow-y 0.3s;
            overflow-y: hidden;
        }
    }
}
