@import "../../colors";

.recent-bookmark {
    padding: 12px;

    .category-title {
        max-width: calc(100% - 70px);
        .category {
            margin-bottom: 8px;
        }

        & ~ figure {
            border: 1px solid $primary-400;
        }

        .title {
            line-height: 1.5;
            transition: 0.2s;
            display: block;

            @media only screen and (max-height: 1400px) {
                font-size: 14px;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .date-del {
        margin-top: 12px;
    }
}
