<div class="recent-bookmark rounded-2 bg-primary-100 flex flex-col justify-between h-[100%]">
    <div class="flex-between-center gap-[1px]">
        <div class="category-title grow-0">
            <div class="category text-label-md-bold text-primary-850-80">{{recentBookmark.category}}</div>
            <a href={{recentBookmark.link}} target="_blank"
                class="title text-body-md-medium text-primary-1000">{{recentBookmark.title}}</a>
        </div>

        <figure class="image w-[60px] h-[60px] rounded-2">
            <img class="cover rounded-2" src={{recentBookmark.img}} alt="recent-thumbnail">
        </figure>
    </div>

    <div class="date-del flex-between-center">
        <div class="text-primary-850 text-label-md-medium">{{recentBookmark.date}}</div>
        <figure class="w-[18px] cursor-pointer" (click)="deleteBookmark(recentBookmark.id)">
            <img src='assets/icon/trash.svg' alt="trash">
        </figure>
    </div>
</div>