@import "../../colors";

.recent-bookmark {
    padding: 12px 0 32px 12px;

    .more-btn {
        transition: 0.4s;
        &:hover {
            background-color: $primary-200;
        }
    }

    .dropdown {
        border: 0.5px solid $primary-200;
        background: $primary-100;
        box-shadow: 0px 4px 16px 0px #8f8dce40;

        div {
            padding: 0 4px;
            transition: 0.2s;
            color: $primary-900;
            cursor: pointer;
            &:hover {
                background: $primary-200;
            }
        }
    }

    .category-title {
        max-width: calc(100% - 70px);

        & ~ figure {
            border: 1px solid $primary-400;
        }

        .title {
            line-height: 1.5;
            transition: 0.2s;
            display: block;

            @media only screen and (max-height: 1400px) {
                font-size: 14px;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
